In [1]:
from main import *
import sqlalchemy as sa

In [ ]:
tweet_obj, user_obj = get_files_and_insert()

In [6]:
# tweet_obj.tables[cur_table].drop_duplicates(subset=['id'], inplace=True)

In [9]:
q = """
SELECT * FROM information_schema.columns
WHERE table_name = 'hashtag_tweet_mapping'
"""

In [8]:
tweet_obj.tables["hashtag_tweet_mapping"]

                 tweet_id                            tag  start  end
0     1480416638017048576        MaritalRapeLawIsAntiMen     26   50
0     1480416638017048576                  NoLaw4Husband     52   66
0     1480416638017048576             NoVoteToMaleHaters     67   86
0     1480416638017048576              NoHumanRights4Men     88  106
0     1480416638017048576  FakeCases_498A_DV_125_377_376    109  139
...                   ...                            ...    ...  ...
7437  1477039363166978057                         mentoo    218  225
7437  1477039363166978057               AbuseHasNoGender    226  243
7437  1477039363166978057                       ToTheEnd    244  253
7437  1477039363166978057                  BrokenButHere    254  268
7437  1477039363166978057                       J4JD2022    269  278

[36825 rows x 4 columns]

In [10]:
table_schema = pd.read_sql(q, engine)

In [13]:
# set(tweet_obj.tables['replied_to_tweet_mapping'].columns)
set(table_schema["column_name"].unique()) == set(
    tweet_obj.tables["hashtag_tweet_mapping"].columns
)

True

In [12]:
q = """
SELECT count(*) FROM
author_data
"""

In [10]:
q = """
select count(distinct(id)) from author_data
"""

In [13]:
pd.read_sql(q, engine)

   count
0   2092

In [20]:
q = """
SELECT qt.referenced_tweet_id,td.text,td.id
FROM quoted_tweet_mapping  qt
join tweet_data td
    on qt.referenced_tweet_id = td.id
"""

In [17]:
tweet_obj.tables["tweet_data"].id.count()

6761

In [21]:
quote_data = pd.read_sql(q, engine)

In [26]:
q = """
SELECT *
from mention_tweet_mapping
limit 10
"""

metioned_data = pd.read_sql(q, engine)

In [27]:
metioned_data

              tweet_id mention_user_id         username  start  end
0  1079874246128660483      2308699184    MentalStigmas      3   17
1  1079874246128660483         5988062     TheEconomist    109  122
2  1079857715684564994      4787013172         nitin33K      3   12
3  1079857715684564994      4573405572     MumbaiPolice     14   27
4  1079857715684564994      3041294294  IPS_Association    106  122
5  1079857715684564994      2686770528    _DigitalIndia    123  137
6  1079848933504045056      4787013172         nitin33K      3   12
7  1079848933504045056      4573405572     MumbaiPolice     14   27
8  1079848933504045056      3041294294  IPS_Association    106  122
9  1079848933504045056      2686770528    _DigitalIndia    123  137