In [1]:
from main import *
import sqlalchemy as sa

In [2]:
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'dbname',
        'USER': 'postgres',
        'PASSWORD': 'unnati',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

database_url = 'postgresql://{user}:{password}@localhost:5432/{database_name}'.format(
    user=DATABASES['default']['USER'],
    password=DATABASES['default']['PASSWORD'],
    database_name=DATABASES['default']['NAME'],
)

engine = sa.create_engine(database_url, pool_pre_ping=True)

In [3]:
tweet_obj = get_files_and_insert()

mentoo_search_2018-01-01_2019-01-01.jsonl

In [4]:
tweet_obj.tables['tweet_data']

,id,created_at,text,author_id,possibly_sensitive,conversation_id,source,reply_settings,retweet_count,like_count,quote_count,reply_count,tweet_type,lang,retweet_count,reply_count,like_count,quote_count
0,1079883442488111104,2018-12-31T23:34:10.000Z,Happy to new year!! I really hit it off this y...,765451815282282497,False,1079883442488111104,Twitter for Android,everyone,4,14,1,1,0,en,4,1,14,1
1,1079874246128660483,2018-12-31T22:57:38.000Z,RT @MentalStigmas: #MenToo: Police are recordi...,1075433842855469057,False,1079874246128660483,Twitter for iPhone,everyone,5,0,0,0,2,en,5,0,0,0
2,1079873308622024704,2018-12-31T22:53:54.000Z,"On the eve of New Year 2019, let’s take a pled...",1051185398016282625,False,1079873308622024704,Twitter for iPhone,everyone,0,2,1,0,0,en,0,0,2,1
3,1079857715684564994,2018-12-31T21:51:56.000Z,RT @nitin33K: @MumbaiPolice #CrimeHasNoGender\...,1627546478,False,1079857715684564994,Retweet Bot @wisehussein,everyone,9,0,0,0,2,en,9,0,0,0
4,1079848933504045056,2018-12-31T21:17:03.000Z,RT @nitin33K: @MumbaiPolice #CrimeHasNoGender\...,100211808,False,1079848933504045056,Twitter Web App,everyone,9,0,0,0,2,en,9,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6756,1067781162821652481,2018-11-28T14:04:02.000Z,Title: The Dress for Respect\nClient: Schweppe...,5894902,False,1067781162821652481,Twitter Media Studio,everyone,3606,4065,1475,130,0,en,3606,130,4065,1475
6757,1070579364641689600,2018-12-06T07:23:05.000Z,@MumbaiPolice Drink &amp; Drive might save U\n...,4787013172,False,1070549638745337857,Twitter for Android,everyone,4,2,0,0,3,und,4,0,2,0
6758,1070686937604939776,2018-12-06T14:30:32.000Z,.@RahulGandhi @ShashiTharoor @SushmaSwaraj @Sh...,957285494433312768,False,1070686436167507968,Twitter for Android,everyone,19,7,0,0,3,und,19,0,7,0
6759,1070433977268428800,2018-12-05T21:45:22.000Z,"Toronto: ponen anuncios en la radio del ""metoo...",891912374,False,1070433977268428800,Twitter for Android,everyone,1,0,0,0,0,es,1,0,0,0
6760,1070879185302941698,2018-12-07T03:14:28.000Z,any kind of physical violence should be forbid...,1051185398016282625,False,1070879185302941698,Twitter Web Client,everyone,5,3,0,0,1,en,5,0,3,0

In [5]:
from sqlalchemy.dialects.postgresql import insert


def insert_on_duplicate(table, conn, keys, data_iter):
    insert_stmt = insert(table.table).values(list(data_iter))
    on_duplicate_key_stmt = insert_stmt.on_conflict_do_nothing()
    conn.execute(on_duplicate_key_stmt)

In [6]:
def insert_do_nothing_on_conflicts(sqltable, conn, keys, data_iter):
    """
    Execute SQL statement inserting data

    Parameters
    ----------
    sqltable : pandas.io.sql.SQLTable
    conn : sqlalchemy.engine.Engine or sqlalchemy.engine.Connection
    keys : list of str
        Column names
    data_iter : Iterable that iterates the values to be inserted
    """
    from sqlalchemy.dialects.postgresql import insert
    from sqlalchemy import table, column
    columns = []
    for c in keys:
        columns.append(column(c))

    if sqltable.schema:
        table_name = '{}.{}'.format(sqltable.schema, sqltable.name)
    else:
        table_name = sqltable.name

    mytable = table(table_name, *columns)

    insert_stmt = insert(mytable).values(list(data_iter))
    do_nothing_stmt = insert_stmt.on_conflict_do_nothing(
        index_elements=['unique_code'])

    conn.execute(do_nothing_stmt)


# pd.to_sql('mytable', con=sql_engine, method=insert_do_nothing_on_conflicts)

In [7]:
# tweet_obj.tables[cur_table].drop_duplicates(subset=['id'], inplace=True)

In [8]:
cur_table = 'tweet_data'
tweet_obj.tables[cur_table].to_sql(
    name=cur_table, con=engine, if_exists='append', index=False, method=insert_on_duplicate)

In [9]:
for cur_table in tweet_obj.tables.keys():
    tweet_obj.tables[cur_table].to_sql(
        name=cur_table, con=engine, if_exists='append', index=False, method=insert_on_duplicate)

In [10]:
# tweet_obj.tables['replied_to_tweet_mapping']

In [13]:
q = """
SELECT * FROM information_schema.columns
WHERE table_name = 'replied_to_tweet_mapping'
"""

In [14]:
table_schema = pd.read_sql(q, engine)

In [16]:
# set(tweet_obj.tables['replied_to_tweet_mapping'].columns)
set(table_schema['column_name'].unique())

{'id', 'in_reply_to_user_id_id', 'referenced_tweet_id', 'tweet_id'}

In [21]:
q = """
SELECT qt.referenced_tweet_id,td.text,qt.id
FROM quoted_tweet_mapping  qt
join tweet_data td
    on qt.referenced_tweet_id = td.id
"""

In [22]:
tweet_obj.tables['tweet_data'].id.count()

6761

In [23]:
quote_data = pd.read_sql(q, engine)

In [24]:
quote_data.head()

   referenced_tweet_id                                               text   id
0  1077180992014696449  We want justice !! \n#MenToo stop the bias ......  705
1  1076714198552494080  #shameOn feminism @Manekagandhibjp\n@SwatiJaiH...  704
2  1074070144698277889  @plman74 @Pat94539169 So sorry for your experi...  735
3  1073605669545238528  当方の友人もレイプドラッグにより強姦、殺人未遂の被害に遭いました。固定ツイートで注意喚起して...  758
4  1073553764198637568  I see in my personal life and my practice. Pol...  762