In [11]:
from main import *
import sqlalchemy as sa

In [9]:
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'dbname',
        'USER': 'postgres',
        'PASSWORD': 'unnati',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

In [10]:
database_url = 'postgresql://{user}:{password}@localhost:5432/{database_name}'.format(
    user=DATABASES['default']['USER'],
    password=DATABASES['default']['PASSWORD'],
    database_name=DATABASES['default']['NAME'],
    )

In [12]:
engine = sa.create_engine(database_url, pool_pre_ping=True)

In [13]:
tweet_obj = get_files_and_insert()

mentoo_search_2018-01-01_2019-01-01.jsonl

In [15]:
cur_table = 'quoted_tweet_mapping'
tweet_obj.tables[cur_table].to_sql(name= cur_table, con=engine, if_exists="append", index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "unique quote tweet"
DETAIL:  Key (tweet_id)=(1079785701980409856) already exists.

[SQL: INSERT INTO quoted_tweet_mapping (tweet_id, referenced_tweet_id) VALUES (%(tweet_id)s, %(referenced_tweet_id)s)]
[parameters: ({'tweet_id': '1079833226636603392', 'referenced_tweet_id': '1079795578287071232'}, {'tweet_id': '1079785701980409856', 'referenced_tweet_id': '1079748730415443968'}, {'tweet_id': '1079688498708443137', 'referenced_tweet_id': '1076895046597857281'}, {'tweet_id': '1079582901015060480', 'referenced_tweet_id': '1079417473441587201'}, {'tweet_id': '1079523823802875904', 'referenced_tweet_id': '1079458918286454784'}, {'tweet_id': '1079522948015366156', 'referenced_tweet_id': '1079463214520418305'}, {'tweet_id': '1079437289493856257', 'referenced_tweet_id': '1079437150024855552'}, {'tweet_id': '1079421432680116224', 'referenced_tweet_id': '1079419936408256513'}  ... displaying 10 of 331 total bound parameter sets ...  {'tweet_id': '1070905462319591425', 'referenced_tweet_id': '1070639215484973056'}, {'tweet_id': '1070879185302941698', 'referenced_tweet_id': '1070546822295252992'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)