In [1]:
from main import *
import sqlalchemy as sa

ModuleNotFoundError: No module named 'dotenv'

In [ ]:
tweet_obj, user_obj = get_files_and_insert()

mentoo_search_2018-01-01_2019-01-01.jsonl
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
mentoo_search_2019-01-01_2020-01-01.jsonl
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
mentoo_search_2020-01-01_2021-01-01.jsonl
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
mentoo_search_2021-01-01_2022-01-01.jsonl
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
mentoo_search_2022-01-01_2022-06-01.jsonl
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping
Empty table: cashtag_tweet_mapping

In [ ]:
# tweet_obj.tables[cur_table].drop_duplicates(subset=['id'], inplace=True)

In [ ]:
q = """
SELECT * FROM information_schema.columns
WHERE table_name = 'hashtag_tweet_mapping'
"""

In [ ]:
tweet_obj.tables["hashtag_tweet_mapping"]

                 tweet_id                            tag  start  end
0     1480416638017048576        MaritalRapeLawIsAntiMen     26   50
0     1480416638017048576                  NoLaw4Husband     52   66
0     1480416638017048576             NoVoteToMaleHaters     67   86
0     1480416638017048576              NoHumanRights4Men     88  106
0     1480416638017048576  FakeCases_498A_DV_125_377_376    109  139
...                   ...                            ...    ...  ...
7437  1477039363166978057                         mentoo    218  225
7437  1477039363166978057               AbuseHasNoGender    226  243
7437  1477039363166978057                       ToTheEnd    244  253
7437  1477039363166978057                  BrokenButHere    254  268
7437  1477039363166978057                       J4JD2022    269  278

[36825 rows x 4 columns]

In [ ]:
engine = create_engine()
table_schema = pd.read_sql(q, engine)

In [ ]:
table_schema.column_name.unique()
#tweet_obj.tables["hashtag_tweet_mapping"].columns

array(['id', 'start', 'end', 'tag', 'tweet_id'], dtype=object)

In [ ]:
# set(tweet_obj.tables['replied_to_tweet_mapping'].columns)
set(table_schema["column_name"].unique()) == set(
    tweet_obj.tables["hashtag_tweet_mapping"].columns
)

False

In [ ]:
q = """
SELECT count(*) FROM
author_data
"""

In [ ]:
q = """
select count(distinct(id)) from author_data
"""

In [ ]:
data = pd.read_sql(q, engine)
data

    count
0  178045

In [ ]:
q = """
SELECT qt.referenced_tweet_id,td.text,td.id
FROM quoted_tweet_mapping  qt
join tweet_data td
    on qt.referenced_tweet_id = td.id
"""

In [ ]:
tweet_obj.tables["tweet_data"].id.count()

6761

In [ ]:
quote_data = pd.read_sql(q, engine)

In [ ]:
q = """
SELECT count(distinct tweet_id) as count, username
from mention_tweet_mapping
group by username
"""
# q = """
# SELECT *
# FROM mention_tweet_mapping
# LIMIT 10
# """

metioned_data = pd.read_sql(q, engine)

In [ ]:
metioned_data.sort_values(by="count", ascending=False)

       count         username
16684  70712   Fake498aVictim
40131  64197         PMOIndia
35863  30829     narendramodi
40307  30124  poojabeditweets
55167  27379       vaastavngo
...      ...              ...
26412      1  karodemecheleer
26415      1      karolusnaga
26419      1  KartalKarapinar
26420      1     kartersmith_
58474      1        zzzzyyy34

[58475 rows x 2 columns]

In [ ]:
metioned_data.sort_values(by="count", ascending=False)

        count      mention_user_id
43163  308497            471741741
30857  177487           2410790131
31996  160423           2541363451
1929   142237  1047449279667654661
53940  139812   885487044243238912
...       ...                  ...
9779        2  1248630801333395456
33672       2           2765176749
33670       2           2764719277
33669       2            276470314
8640        2  1223253337262309376

[58476 rows x 2 columns]