In [14]:
from main import *
import sqlalchemy as sa

In [15]:
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'dbname',
        'USER': 'postgres',
        'PASSWORD': 'unnati',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

In [16]:
database_url = 'postgresql://{user}:{password}@localhost:5432/{database_name}'.format(
    user=DATABASES['default']['USER'],
    password=DATABASES['default']['PASSWORD'],
    database_name=DATABASES['default']['NAME'],
    )

In [17]:
engine = sa.create_engine(database_url, pool_pre_ping=True)

In [18]:
tweet_obj = get_files_and_insert()

mentoo_search_2018-01-01_2019-01-01.jsonl

In [19]:
tweet_obj.tables['tweet_data']

,id,created_at,text,author_id,possibly_sensitive,conversation_id,source,reply_settings,retweet_count,like_count,quote_count,reply_count,tweet_type,lang,retweet_count,reply_count,like_count,quote_count
0,1079883442488111104,2018-12-31T23:34:10.000Z,Happy to new year!! I really hit it off this y...,765451815282282497,False,1079883442488111104,Twitter for Android,everyone,4,14,1,1,0,en,4,1,14,1
1,1079874246128660483,2018-12-31T22:57:38.000Z,RT @MentalStigmas: #MenToo: Police are recordi...,1075433842855469057,False,1079874246128660483,Twitter for iPhone,everyone,5,0,0,0,2,en,5,0,0,0
2,1079873308622024704,2018-12-31T22:53:54.000Z,"On the eve of New Year 2019, letâ€™s take a pled...",1051185398016282625,False,1079873308622024704,Twitter for iPhone,everyone,0,2,1,0,0,en,0,0,2,1
3,1079857715684564994,2018-12-31T21:51:56.000Z,RT @nitin33K: @MumbaiPolice #CrimeHasNoGender\...,1627546478,False,1079857715684564994,Retweet Bot @wisehussein,everyone,9,0,0,0,2,en,9,0,0,0
4,1079848933504045056,2018-12-31T21:17:03.000Z,RT @nitin33K: @MumbaiPolice #CrimeHasNoGender\...,100211808,False,1079848933504045056,Twitter Web App,everyone,9,0,0,0,2,en,9,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6756,1067781162821652481,2018-11-28T14:04:02.000Z,Title: The Dress for Respect\nClient: Schweppe...,5894902,False,1067781162821652481,Twitter Media Studio,everyone,3606,4065,1475,130,0,en,3606,130,4065,1475
6757,1070579364641689600,2018-12-06T07:23:05.000Z,@MumbaiPolice Drink &amp; Drive might save U\n...,4787013172,False,1070549638745337857,Twitter for Android,everyone,4,2,0,0,3,und,4,0,2,0
6758,1070686937604939776,2018-12-06T14:30:32.000Z,.@RahulGandhi @ShashiTharoor @SushmaSwaraj @Sh...,957285494433312768,False,1070686436167507968,Twitter for Android,everyone,19,7,0,0,3,und,19,0,7,0
6759,1070433977268428800,2018-12-05T21:45:22.000Z,"Toronto: ponen anuncios en la radio del ""metoo...",891912374,False,1070433977268428800,Twitter for Android,everyone,1,0,0,0,0,es,1,0,0,0
6760,1070879185302941698,2018-12-07T03:14:28.000Z,any kind of physical violence should be forbid...,1051185398016282625,False,1070879185302941698,Twitter Web Client,everyone,5,3,0,0,1,en,5,0,3,0

In [21]:
tweet_obj.tables[cur_table].drop_duplicates(subset=['id'], inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_12076\3859018518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweet_obj.tables[cur_table].drop_duplicates(subset=['id'], inplace=True)

In [28]:
tweet_obj.tables['tweet_data'][tweet_obj.tables['tweet_data'].text.str.lower().str.contains('mynation')]

,id,created_at,text,author_id,possibly_sensitive,conversation_id,source,reply_settings,retweet_count,like_count,quote_count,reply_count,tweet_type,lang,retweet_count,reply_count,like_count,quote_count
10,1079817451058061312,2018-12-31T19:11:57.000Z,"RT @MynationShar: Make it #Mentoo, Fight will ...",786181333,False,1079817451058061312,Twitter for Android,everyone,2,0,0,0,2,en,2,0,0,0
363,1079073052384784384,2018-12-29T17:53:58.000Z,RT @nitin33K: @SriRudyBABA @Manekagandhibjp @M...,815856718747824128,False,1079073052384784384,Twitter for Android,everyone,39,0,0,0,2,en,39,0,0,0
500,1078666375172747265,2018-12-28T14:57:59.000Z,RT @nitin33K: @SriRudyBABA @Manekagandhibjp @M...,114999722,False,1078666375172747265,Twitter for Android,everyone,39,0,0,0,2,en,39,0,0,0
505,1078661753313972224,2018-12-28T14:39:37.000Z,RT @nitin33K: @SriRudyBABA @Manekagandhibjp @M...,959032801067614210,False,1078661753313972224,Twitter for Android,everyone,39,0,0,0,2,en,39,0,0,0
511,1078637874528940033,2018-12-28T13:04:44.000Z,RT @nitin33K: @SriRudyBABA @Manekagandhibjp @M...,1036655623851495424,False,1078637874528940033,Twitter for Android,everyone,39,0,0,0,2,en,39,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,1075758955417231360,2018-12-20T14:24:56.000Z,RT @Mynationap1: Dear corporates if you don't ...,921363685,False,1075758955417231360,Twitter Web App,everyone,27,0,0,0,2,en,27,0,0,0
2364,1075682956520222720,2018-12-20T09:22:56.000Z,RT @Mynationap1: Dear corporates if you don't ...,87626532,False,1075682956520222720,Twitter for Android,everyone,27,0,0,0,2,en,27,0,0,0
2380,1075662477281628160,2018-12-20T08:01:34.000Z,RT @Mynationap1: Dear corporates if you don't ...,1074345703613390848,False,1075662477281628160,Twitter for Android,everyone,27,0,0,0,2,en,27,0,0,0
4845,1079748730415443968,2018-12-31T14:38:52.000Z,WE THE MEMBERS OF MyNATION FOUNDATION WISH YOU...,902337349702516737,False,1079748730415443968,Twitter Web Client,everyone,79,50,3,6,0,en,79,6,50,3
5286,1077794698662694912,2018-12-26T05:14:15.000Z,Dowry complaint threat by wife - Husband Commi...,902337349702516737,False,1077794698662694912,Twitter Web Client,everyone,160,83,6,18,0,en,160,18,83,6

In [22]:
cur_table = 'tweet_data'
tweet_obj.tables[cur_table].to_sql(name=cur_table, con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "tweet_data" violates foreign key constraint "tweet_data_author_id_1cb91c78_fk_author_data_id"
DETAIL:  Key (author_id)=(765451815282282497) is not present in table "author_data".

(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [26]:
q = """
SELECT * FROM information_schema.columns
WHERE table_name = 'tweet_data'
"""

In [27]:
table_schema = pd.read_sql(q, engine)

In [28]:
set(tweet_obj.tables['tweet_data'].columns) == set(table_schema['column_name'].unique())

True

In [33]:
q = """
SELECT * 
FROM tweet_data
limit 10
"""

In [34]:
pd.read_sql(q, engine)

Empty DataFrame
Columns: [id, created_at, text, possibly_sensitive, conversation_id, source, reply_settings, lang, retweet_count, like_count, quote_count, reply_count, tweet_type, author_id]
Index: []