In [2]:
from main import *
import sqlalchemy as sa

In [3]:
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'misogynistic_twitter',
        'USER': 'postgres',
        'PASSWORD': 'unnati',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

database_url = 'postgresql://{user}:{password}@localhost:5432/{database_name}'.format(
    user=DATABASES['default']['USER'],
    password=DATABASES['default']['PASSWORD'],
    database_name=DATABASES['default']['NAME'],
)

engine = sa.create_engine(database_url, pool_pre_ping=True)

In [4]:
tweet_obj, user_obj = get_files_and_insert()

mentoo_search_2018-01-01_2019-01-01.jsonl

In [12]:
tweet_obj.base_data.columns

Index(['author_id', 'possibly_sensitive', 'conversation_id', 'source',
       'reply_settings', 'entities', 'context_annotations', 'text',
       'public_metrics', 'created_at', 'id', 'lang', 'referenced_tweets',
       'geo', 'in_reply_to_user_id', 'attachments', 'retweet_count',
       'reply_count', 'like_count', 'quote_count', 'tweet_type'],
      dtype='object')

In [15]:
# set(user_obj.base_data.columns) - set(user_obj.tables['author_data'].columns)

In [4]:
# tables_created = tweet_obj.get_tables_name_created()
# for table_name in tables_created:
#     tweet_obj.tables[table_name].to_sql(table_name, engine, if_exists='replace', index=False)

In [5]:
# tweet_obj.expand_dict_column(
#     "entities", ["urls", "hashtags", "mentions", "annotations", "cashtags"], tweet_obj.base_data)

In [6]:
# tweet_obj.base_data[['id', 'entities']]

In [16]:
from sqlalchemy.dialects.postgresql import insert


def insert_on_duplicate(table, conn, keys, data_iter):
    insert_stmt = insert(table.table).values(list(data_iter))
    on_duplicate_key_stmt = insert_stmt.on_conflict_do_nothing()
    conn.execute(on_duplicate_key_stmt)

In [17]:
def insert_do_nothing_on_conflicts(sqltable, conn, keys, data_iter):
    """
    Execute SQL statement inserting data

    Parameters
    ----------
    sqltable : pandas.io.sql.SQLTable
    conn : sqlalchemy.engine.Engine or sqlalchemy.engine.Connection
    keys : list of str
        Column names
    data_iter : Iterable that iterates the values to be inserted
    """
    from sqlalchemy.dialects.postgresql import insert
    from sqlalchemy import table, column
    columns = []
    for c in keys:
        columns.append(column(c))

    if sqltable.schema:
        table_name = '{}.{}'.format(sqltable.schema, sqltable.name)
    else:
        table_name = sqltable.name

    mytable = table(table_name, *columns)

    insert_stmt = insert(mytable).values(list(data_iter))
    do_nothing_stmt = insert_stmt.on_conflict_do_nothing(
        index_elements=['unique_code'])

    conn.execute(do_nothing_stmt)


# pd.to_sql('mytable', con=sql_engine, method=insert_do_nothing_on_conflicts)

In [9]:
# tweet_obj.tables[cur_table].drop_duplicates(subset=['id'], inplace=True)

In [10]:
cur_table = 'tweet_data'
tweet_obj.tables[cur_table].to_sql(
    name=cur_table, con=engine, if_exists='append', index=False, method=insert_on_duplicate)

In [16]:
for cur_table in tweet_obj.tables.keys():
    tweet_obj.tables[cur_table].to_sql(
        name=cur_table, con=engine, if_exists='append', index=False, method=insert_on_duplicate)

In [29]:
for cur_table in user_obj.tables.keys():
    user_obj.tables[cur_table].to_sql(
        name=cur_table, con=engine, if_exists='append', index=False, method=insert_on_duplicate)

In [ ]:
# tweet_obj.tables['replied_to_tweet_mapping']

In [9]:
q = """
SELECT * FROM information_schema.columns
WHERE table_name = 'hashtag_tweet_mapping'
"""

In [10]:
table_schema = pd.read_sql(q, engine)

In [13]:
# set(tweet_obj.tables['replied_to_tweet_mapping'].columns)
set(table_schema['column_name'].unique()) == set(tweet_obj.tables['hashtag_tweet_mapping'].columns)

True

In [30]:
q = """
SELECT count(*) FROM
author_data
"""

In [27]:
q = """
select count(distinct(id)) from author_data
"""

In [31]:
pd.read_sql(q, engine)

   count
0   2092

In [20]:
q = """
SELECT qt.referenced_tweet_id,td.text,td.id
FROM quoted_tweet_mapping  qt
join tweet_data td
    on qt.referenced_tweet_id = td.id
"""

In [17]:
tweet_obj.tables['tweet_data'].id.count()

6761

In [21]:
quote_data = pd.read_sql(q, engine)

In [22]:
quote_data.head()

Empty DataFrame
Columns: [referenced_tweet_id, text, id]
Index: []